.box {
    font-family: 'Turret Road', cursive;
    padding-top: 75px;
    background-color: brown;
}
.menu {
    font-family: 'Turret Road', cursive;
    padding-top: 50px;
    margin-top: -22px;
    background-color: chartreuse;
}
.middlebar {
    width: 80%;
    background-color: darkblue;
}
.bar {
    width: 10%;
    background-color: coral;
}
.center {
    margin-top: -17px;
    height: 1000px;
    float: left;
}